<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">接口管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!home_console">首页</a>
          <a><cite>接口管理</cite></a>
        </span>
    </div>

    <div class="layui-card-body">

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Import</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="desc"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Export</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="desc"></textarea>
            </div>
        </div>
    </div>
</div>